
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %>'s Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/global.css"> 
</head>
<body>
    <%- include('partials/header') %>

    <div class="profile-container">
        <div class="profile-header">
            <div class="profile-picture">
                <img src="<%= user.profilePicture %>" alt="Profile Picture">
            </div>
            <div class="profile-info">
                <h1><%= user.username %></h1>
                <p><%= user.bio %></p>
                 <a href="/watchlist" class="btn">View Watchlist</a>
            </div>
        </div>

        <% if (locals.user && user.id.toString() === locals.user.id.toString()) { %>
        <div class="profile-edit">
            <h2>Edit Profile</h2>
            <form class="profile-edit-form" action="/profile/edit" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="profilePicture">Change Profile Picture (Max 1MB):</label>
                    <input type="file" id="profilePicture" name="profilePicture" accept="image/*">
                </div>
                <div>
                    <label for="bio">Bio:</label>
                    <textarea id="bio" name="bio"><%= user.bio %></textarea>
                </div>
                <button type="submit">Save Changes</button>
            </form>
        </div>
        <% } %>

    <%- include('partials/footer') %>
</body>
</html>
